
<!-- Componente Inicio -->
<app-inicio></app-inicio>

<!-- Componente quem somos -->
<app-quemsomos></app-quemsomos>

<!-- Componente servicos -->
<app-servicos></app-servicos>

<!-- Componente Contatos -->
<app-contactos></app-contactos>

<!-- Componente Notícias -->
<app-noticias></app-noticias>



<!-- Footer Área do desenvolvedor -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-container about">
          <h4>Área do desenvolvedor</h4>
          <p class="white">Sou estudante desenvolvedor de aplicações Web, A Ária é umas das minhas primeiras criações 
            sendo apenas uma simulação de consultoria online. Siga-me
          </p>
        </div> 
      </div>
      <div class="col-md-2">
        <div class="text-container">
          <h4>Sociais</h4>
          <ul class="list-unstyled li-space-lg white">
            <li>
              <a class="white" href="https://www.facebook.com/Marinhojv">Facebook</a>
            </li>
            <li>
              <a class="white" href="https://www.instagram.com/marinhoking/?igshid=xuw400ne17n">Instagram</a>
            </li>
          </ul>
        </div> 
      </div> 
      <div class="col-md-2">
        <div class="text-container">
          <h4>Business</h4>
          <ul class="list-unstyled li-space-lg">
            <li>
              <a class="white" href="www.linkedin.com/in/joaovictormarinho">Linkedin</a>
            </li>
          </ul>
        </div> 
      </div> 
    </div> 
  </div> 
</div> 


<!-- Copyright do desevolvedor-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small white">Copyright © Aria - João Victor Marinho Develper</p>
      </div> 
    </div> 
  </div> 
</div> 