<!-- Quem somos -->
<div id="intro" class="basic-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="text-container">
                <div class="section-title">Início</div>
                <h2>Nosso intuito é fazer seu dinheiro valer mais!</h2>
                <p>Explicaremos tudo sobre Iphone, Macbook, suas especificações e funcionalidades.</p>
                <p>"Cada equipamento tem seu ano de lançamento, sua valorização no mercado, seu designer e é necessário saber
                  qual dessas funções você vai realmente precisar."</p>
              </div> 
            </div> 
            <div class="col-lg-7">
              <div class="image-container">
                <img class="img-fluid" src="assets/images/intro-office.jpg" alt="alternative">
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
      
      <h2 style="text-align: center;">Passos de decisão</h2>
      
      <!-- Descrição -->
      <div class="cards-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
        
                <div class="card">
                  <span class="fa-stack">
                    <span class="hexagon"></span>
                    <i class="fas fa-binoculars fa-stack-1x"></i>
                  </span>
                  <div class="card-body">
                    <h3 class="card-title">Análise do cliente</h3>
                    <p>Passo onde será escutado os desafios que o cliente pretente enfrentar
                      e encontrar um meio de saida que retorne uma boa utilização com um preço que ele 
                      possa pagar </p>
                  </div>
                </div>
        
                <div class="card">
                  <span class="fa-stack">
                    <span class="hexagon"></span>
                    <i class="fas fa-list-alt fa-stack-1x"></i>
                  </span>
                  <div class="card-body">
                    <h4 class="card-title">Busca de desenvolvimento</h4>
                    <p>Depois de completar a Análise será feito uma busca dos produtos</p>
                  </div>
                </div>
        
                <div class="card">
                  <span class="fa-stack">
                    <span class="hexagon"></span>
                    <i class="fas fa-chart-pie fa-stack-1x"></i>
                  </span>
                  <div class="card-body">
                    <h4 class="card-title">Resultado e apresentação</h4>
                    <p>A parte final onde os itens serão apresentados aos clientes e 
                      o porque os clientes devem preferi-los.
                    </p>
                  </div>
                </div>
              </div> 
            </div> 
          </div> 
        </div> 